
dist: trusty
sudo: required

language: cpp
compiler: gcc

before_install:
- sudo apt-get install texlive-latex-base
#- wget https://github.com/MiniZinc/MiniZincIDE/releases/download/2.1.7/MiniZincIDE-2.1.7-bundle-linux-x86_64.tgz
#- tar -xzvf MiniZincIDE-2.1.7-bundle-linux-x86_64.tgz
#- ln -s MiniZincIDE-2.1.7-bundle-linux-x86_64/mzn-gecode gecode
#- export PATH=$PATH:./MiniZincIDE-2.1.7-bundle-linux-x86_64/

install: true

script: gcc -Wall GA_POC/poc.c  && gcc -Wall GA_POC/pochard.c && pdflatex GA_JASZN/zebra.tex

notifications:
  email:
    recipients:
      - szilidaniel98@gmail.com
      - schofferfruzsi@gmail.com
      - vmate0116@gmail.com
      - nikolettsos@gmail.com
      - adipapp98@gmail.com
      - tsbalazs@freemail.hu
      - hegyhati.work@gmail.com
      
    on_success: change 
    on_failure: always 
        





